.container {
	max-width: 1736px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: map-get($laptop, md)) and (max-width: map-get($laptop, tg) - 1) { 
	.container {
		padding: 0 72px 0 72px;
	}
}

@media (min-width: map-get($tablet, md)) and (max-width: map-get($laptop, md) - 1) { 
	.container {
		padding: 0 36px 0 36px;
	}
}
