.footer {
	background-color: var(--footer_color);
    display: flex;
    align-items: center;
    justify-content: center;

	.nav__sign {
        font-size: 26px;
        line-height: 20px;
        font-weight: 600;
    }
}

@media (max-width: map-get($tablet, md) - 1) {
    .footer {
        height: 1006px;
    }
}

@media (min-width: map-get($tablet, md)) and (max-width: map-get($laptop, md) - 1) {
    .footer {
        height: 673px;
    }
}

@media (min-width: map-get($laptop, md)) and (max-width: map-get($laptop, lg) - 1) {
    .footer {
        height: 470px;
    }
}

@media (min-width: map-get($laptop, tg)) {
    .footer {
        height: 520px;
    }
}