.heading__h1 {
    font-weight: 600;
    font-size: 56px;
    line-height: 68px;
    color: var(--black_heading);
}

.heading__h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

.heading__sign {
    display: block;
    line-height: 28px;
    font-size: 18px;
    font-weight: 400;
    white-space: pre-line;
}

.heading__item--flex {
    display: flex;
    align-items: center;
}

.heading__h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    white-space: pre-line;
}

@media (max-width: map-get($tablet, md) - 1) {
    .heading__h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .heading__h3 {
        font-size: 32px;
        line-height: 40px;
    }
}

@media (min-width: map-get($tablet, md)) and (max-width: map-get($laptop, md) - 1) {
    .heading__h1 {
        font-size: 48px;
        line-height: 58px;
    }
}