.teams {
    .heading__item--box {
        margin-top: 32px;
    }
}

.teams__strong {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.teams__figcaption {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
}

.teams__figure {
    display: grid;
    min-height: 528px;
}

.teams__slider {
    margin-top: 40px;
}

.teams__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--extra_gray);
    padding-top: 10%;
}

.teams__box {
    padding: 24px 32px 24px 32px;
    border-left: 1px solid var(--extra_grey);
    border-right: 1px solid var(--extra_grey);
    border-bottom: 1px solid var(--extra_grey);
}

@media (min-width: map-get($laptop, md)) and (max-width: map-get($laptop, tg)) {
    .teams__image {
        display: block;
    }
}